header, 
main {
    display: flex;
    flex-direction:column;
    align-items: center;
}

button {
    width: 80px;
}

#turnOn{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    
}
#turnOff{
    background-color:cornflowerblue
}
#tcLamp{
    background-color: gold;
}

#cor{
    background-color:rgb(161, 161, 92) ;
}

#lampBroken{
    background-color: black;
}

#lampNova{
    background-color:cornflowerblue
}